# Current World Population

In [1]:
# Library
from bs4 import BeautifulSoup
import requests
import pandas as pd

# Sending Request
page_url = "https://www.worldometers.info/world-population/"
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/119.0.0.0 Safari/537.36 Edg/119.0.0.0'
}

page = requests.get(page_url,
                    headers = headers)
print(page)

# Beautiful Soup Object
soup = BeautifulSoup(page.content,'html.parser')
soup

# Our Table Current World Population
table2 = soup.find('table',
                   {'class':'table table-striped table-bordered table-hover table-condensed table-list'})

table2

# Table Headers Current World Population
headers = []
for i in table2.find_all('th'):
    col_name = i.text
    headers.append(col_name)
    
# Data Frame Columns Name
df = pd.DataFrame(columns=headers)
df

# Table Data Current World Population
for i in table2.find_all('tr')[1:]:
    row_data = i.find_all('td')
    rows = [t.text for t in row_data]
    lenght = len(df)
    df.loc[lenght] = rows
df

# The End..!

<Response [200]>

,Year (July 1),Population,Yearly % Change,Yearly Change,Median Age,Fertility Rate,Density (P/Km²)
0,2023,"8,045,311,447",0.88 %,"70,206,291",30.5,2.31,54
1,2022,"7,975,105,156",0.83 %,"65,810,005",30.2,2.31,54
2,2021,"7,909,295,151",0.87 %,"68,342,271",30.0,2.32,53
3,2020,"7,840,952,880",0.98 %,"76,001,848",29.7,2.35,53
4,2015,"7,426,597,537",1.23 %,"88,198,886",28,2.52,50
5,2010,"6,985,603,105",1.27 %,"85,485,397",27,2.59,47
6,2005,"6,558,176,119",1.30 %,"81,855,429",26,2.62,44
7,2000,"6,148,898,975",1.37 %,"81,135,904",25,2.73,41
8,1995,"5,743,219,454",1.56 %,"85,408,718",24,2.88,39
9,1990,"5,316,175,862",1.80 %,"90,889,050",23,3.31,36
10,1985,"4,861,730,613",1.81 %,"83,544,581",22,3.52,33
11,1980,"4,444,007,706",1.78 %,"74,914,095",22,3.75,30
12,1975,"4,069,437,231",1.95 %,"74,809,379",21,4.08,27
13,1970,"3,695,390,336",2.06 %,"71,655,671",20,4.83,25
14,1965,"3,337,111,983",2.02 %,"63,575,710",21,5.08,22
15,1960,"3,019,233,434",1.91 %,"54,632,259",21,4.70,20
16,1955,"2,746,072,141",1.90 %,"49,349,997",22,5.01,18

# -------------------------------------------------------xxx-----------------------------------------------

# Countries in the world by population (2023)

In [2]:
# Library
from bs4 import BeautifulSoup
import requests
import pandas as pd

# Sending Request
page_url = "https://www.worldometers.info/world-population/population-by-country/"
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/119.0.0.0 Safari/537.36 Edg/119.0.0.0'
}

page = requests.get(page_url,
                    headers = headers)
print(page)

# Beautiful Soup Object
soup = BeautifulSoup(page.content,
                     'html.parser')
soup

# Our Table Countries in the world by population (2023)
table_Countries = soup.find('table',
                                {'id':'example2'})

table_Countries

# Table Headers Countries in the world by population (2023)
headers = []
for i in table_Countries.find_all('th'):
    col_name = i.text
    headers.append(col_name)
    
# Data Frame Columns Name
df_Countries = pd.DataFrame(columns=headers)
df_Countries

# Table Data World Population Forecast (2025-2100)
for j in table_Countries.find_all('tr')[1:]:
    row_data = j.find_all('td')
    rows = [x.text for x in row_data]
    lenght = len(df_Countries)
    df_Countries.loc[lenght] = rows
df_Countries

<Response [200]>

,#,Country (or dependency),Population (2023),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
0,1,India,"1,428,627,663",0.81 %,"11,454,490",481,"2,973,190","-486,136",2.0,28,36 %,17.76 %
1,2,China,"1,425,671,352",-0.02 %,"-215,985",152,"9,388,211","-310,220",1.2,39,65 %,17.72 %
2,3,United States,"339,996,563",0.50 %,"1,706,706",37,"9,147,420","999,700",1.7,38,83 %,4.23 %
3,4,Indonesia,"277,534,122",0.74 %,"2,032,783",153,"1,811,570","-49,997",2.1,30,59 %,3.45 %
4,5,Pakistan,"240,485,658",1.98 %,"4,660,796",312,"770,880","-165,988",3.3,21,35 %,2.99 %
...,...,...,...,...,...,...,...,...,...,...,...,...
229,230,Montserrat,"4,386",-0.09 %,-4,44,100,0,1.6,44,11 %,0.00 %
230,231,Falkland Islands,"3,791",0.29 %,11,0,"12,170",0,1.6,40,62 %,0.00 %
231,232,Niue,"1,935",0.05 %,1,7,260,0,2.4,36,41 %,0.00 %
232,233,Tokelau,"1,893",1.18 %,22,189,10,0,2.6,27,0 %,0.00 %
233,234,Holy See,518,1.57 %,8,"1,295",0,0,,,N.A.,0.00 %

# -------------------------------------------------------xxx-----------------------------------------------

# World Population by Region

In [3]:
# Library
from bs4 import BeautifulSoup
import requests
import pandas as pd

# Sending Request
page_url = "https://www.worldometers.info/world-population/"
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/119.0.0.0 Safari/537.36 Edg/119.0.0.0'
}

page = requests.get(page_url,
                    headers = headers)
print(page)

# Beautiful Soup Object
soup = BeautifulSoup(page.content,
                     'html.parser')
soup

# Our Table World Population by Region
table_region = soup.find('table',
                           {'class':'table table-hover table-condensed'})

table_region

# Table Headers World Population by Region
headers = []
for i in table_region.find_all('th'):
    col_name = i.text
    headers.append(col_name)
    
# Data Frame Columns Name
df_region = pd.DataFrame(columns=headers)
df_region

# Table Data World Population by Region
for j in table_region.find_all('tr')[1:]:
    row_data = j.find_all('td')
    rows = [x.text for x in row_data]
    lenght = len(df_region)
    df_region.loc[lenght] = rows
    
df_region

# The End..!

<Response [200]>

,#,Region,Population(2023),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare
0,1,Asia,"4,753,079,727",0.64 %,"30,444,963",153,"31,033,131","-1,487,191",1.9,32,52.6 %,59.1 %
1,2,Africa,"1,460,481,772",2.37 %,"33,745,467",49,"29,648,481","-535,151",4.2,19,44.7 %,18.2 %
2,3,Europe,"742,272,652",-0.17 %,"-1,283,113",34,"22,134,900","792,167",1.5,42,75.7 %,9.2 %
3,4,Latin America and the Caribbean,"664,997,121",0.72 %,"4,728,047",33,"20,139,378","-161,800",1.8,31,84 %,8.3 %
4,5,Northern America,"378,904,407",0.54 %,"2,033,711",20,"18,651,660","1,249,364",1.6,38,82.8 %,4.7 %
5,6,Oceania,"45,575,768",1.19 %,"537,216",5,"8,486,460","142,770",2.1,33,66 %,0.6 %

# -------------------------------------------------------xxx-----------------------------------------------

# World Population Forecast (2025-2100)

In [4]:
# Library
from bs4 import BeautifulSoup
import requests
import pandas as pd

# Sending Request
page_url = "https://www.worldometers.info/world-population/world-population-projections/"
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/119.0.0.0 Safari/537.36 Edg/119.0.0.0'
}

page = requests.get(page_url,
                    headers = headers)
print(page)

# Beautiful Soup Object
soup = BeautifulSoup(page.content,
                     'html.parser')
soup

# Our Table World Population Forecast (2025-2100)
table_forecast = soup.find('table',
                           {'class':'table table-hover table-condensed'})

table_forecast

# Table Headers World Population Forecast (2025-2100)
headers = []
for i in table_forecast.find_all('th'):
    col_name = i.text
    headers.append(col_name)
    
# Data Frame Columns Name
df_forecast = pd.DataFrame(columns=headers)
df_forecast

# Table Data World Population Forecast (2025-2100)
for j in table_forecast.find_all('tr')[1:]:
    row_data = j.find_all('td')
    rows = [x.text for x in row_data]
    lenght = len(df_forecast)
    df_forecast.loc[lenght] = rows
    
df_forecast

<Response [200]>

    Year World Population YearlyChange    NetChange Density(P/Km²)
0   2023    8,045,311,447       0.88 %   70,206,291             54
1   2024    8,118,835,999       0.91 %   73,524,552             55
2   2025    8,191,988,453       0.90 %   73,152,454             55
3   2026    8,264,364,509       0.88 %   72,376,056             55
4   2027    8,335,977,671       0.87 %   71,613,162             56
..   ...              ...          ...          ...            ...
73  2096   10,388,517,149      -0.07 %   -7,788,695             70
74  2097   10,379,888,448      -0.08 %   -8,628,701             70
75  2098   10,370,445,196      -0.09 %   -9,443,252             70
76  2099   10,360,269,362      -0.10 %  -10,175,834             70
77  2100   10,349,323,038      -0.11 %  -10,946,324             69

[78 rows x 5 columns]

In [5]:
# Storing into the excel file 
df.to_excel("df_current_pop.xlsx",
            index=False)

df_Countries.to_excel("df_Countries_pop.xlsx",
                      index=False)
 
df_region.to_excel("df_region_pop.xlsx",
                   index=False)

df_forecast.to_excel("df_forecast_pop.xlsx",
                     index=False)

# The End..!